<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @official.name %>
</p>

<p>
  <b>Level:</b>
  <%= @official.level %>
</p>

<p>
  <b>References:</b>
  <%= @official.references %>
</p>


<%= link_to 'Edit', edit_official_path(@official) %> |
<%= link_to 'Back', officials_path %>
